{% extends "base.html" %}

{% block title %}Lecturers list{% endblock %}

{% block content %}
<style>
    .lecturers-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Add margin between table and other content */
    }

    .lecturers-list th, .lecturers-list td {
    border: 1px solid #ddd; /* Add border to table cells */
    padding: 8px; /* Add padding to table cells */
    }

    .lecturers-list th {
    background-color: #f2f2f2; /* Light grey background for header */
    }

    .lecturers-list tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Even rows have slightly darker background */
    }

    .add-lecturer-btn {
        margin-top: 20px; /* Adds space above the Add Lecturer button */
        margin-left: -1260px; 
    }
</style>

<!-- Add Lecturer Button -->
<a href="{{ url_for('views.add_lecturer') }}" class="btn btn-primary add-lecturer-btn">Add Lecturer</a>


<div class="lecturers-per-page">
    <form method="GET">
        <label for="num_lecturers">Lecturers per page:</label>
        <select name="num_lecturers" id="num_lecturers" onchange="this.form.submit()">
            <option value="5" {% if request.args.get('num_lecturers', default='10') == '5' %} selected {% endif %}>5</option>
            <option value="10" {% if request.args.get('num_lecturers', default='10') == '10' %} selected {% endif %}>10</option>
            <option value="20" {% if request.args.get('num_lecturers', default='10') == '20' %} selected {% endif %}>20</option>
            <option value="30" {% if request.args.get('num_lecturers', default='10') == '30' %} selected {% endif %}>30</option>
        </select>
    </form>
</div>

<!-- Lecturers List -->
<div class="lecturers-list">
    <h2>Lecturers</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for lecturer in lecturers %}
            <tr>
                <td>{{ lecturer.first_name }}</td>
                <td>{{ lecturer.email }}</td>
                <td>{{ lecturer.role }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No lecturers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination Links -->
<div class="pagination">
    {% if prev_url %}
    <a href="{{ prev_url }}" class="btn btn-primary">&laquo; Previous Page</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}" class="btn btn-primary">Next Page &raquo;</a>
    {% endif %}
</div>
<br>
<br>
<br>
{% endblock %}
