{% extends "base.html" %} {% block title %}Home{% endblock %} 
    
{% block content %}

<h1>This is the lecturer home page</h1>
<!-- Student List -->
<div class="students-list">
      <h2>Students</h2>
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
              </tr>
          </thead>
          <tbody>
              {% for student in students %}
              <tr>
                  <td>{{ student.first_name }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.role }}</td>
              </tr>
              {% else %}
              <tr>
                  <td colspan="3">No students found.</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
 

  <!-- start of drag&drop .csv file upload-->


  
  <div class="upload-container">
    <h2>Import Students</h2>
    <form action="{{ url_for('views.import_students') }}" method="post" enctype="multipart/form-data" class="upload-form">
        <div class="drag-drop-area">
            <p>Drag and drop a file or click to select a file</p>
            <input type="file" name="students_csv" accept=".csv" hidden>
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>
</div>
<script>
    const dropArea = document.querySelector('.drag-drop-area');
    const fileInput = dropArea.querySelector('input[type=file]');
    dropArea.addEventListener('click', () => fileInput.click());
    dropArea.addEventListener('dragover', (event) => {
        event.preventDefault();
        dropArea.classList.add('active');
    });
    dropArea.addEventListener('dragleave', () => {
        dropArea.classList.remove('active');
    });
    dropArea.addEventListener('drop', (event) => {
        event.preventDefault();
        fileInput.files = event.dataTransfer.files;
        dropArea.classList.remove('active');
    });
</script>

  <!-- <a href="{{ url_for('views.add_lecturer') }}" class="btn btn-primary">Add Lecturer</a> -->
      {%  endblock %}