{% extends "base.html" %} {% block title %}Home{% endblock %} 
    
{% block content %}

<h1>This is the lecturer home page</h1>
<!-- Student List -->
<div class="students-list">
      <h2>Students</h2>
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
              </tr>
          </thead>
          <tbody>
              {% for student in students %}
              <tr>
                  <td>{{ student.first_name }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.role }}</td>
              </tr>
              {% else %}
              <tr>
                  <td colspan="3">No students found.</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
 

  <div class="upload-container">
    <h2>Import Students</h2>
    <form action="{{ url_for('views.import_students') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="students_xlsx" accept=".xlsx">
        <button type="submit" class="btn btn-primary">Import</button>
    </form>    
</div>

<div class="upload-container">
    <h2>Upload Articles</h2>
    <form action="{{ url_for('views.upload_articles') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="articles_xlsx" accept=".xlsx">
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>


  <!-- <a href="{{ url_for('views.add_lecturer') }}" class="btn btn-primary">Add Lecturer</a> -->
      {%  endblock %}